.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 0.85rem;
  margin-top: 3rem;
}

.mainFooter {
  background-color: var(--gray-600);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
  line-height: 1.8;
  padding: 2rem 1rem;
}

.address {
  font-style: normal;
}

.link {
  color: white;
  transition: color 0.2s;
}

.link:hover {
  color: var(--primary-light);
}

.copy {
  background-color: var(--gray-200);
  padding: 1.5rem;
  color: var(--gray-500);
}

@media (max-width: 600px) {
  .mainFooter {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
}
